body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #4e79ff, #ff7ae9);
    /* background-repeat: no-repeat; */
    /* 蓝色到粉色的渐变背景 */
    color: #fff;
    overflow-x: hidden;
}

header {
    background-color: rgba(0, 0, 0, 0.5);
    /* 半透明黑色背景 */
    padding: 20px;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    transition: background-color 0.5s ease;
}

h1 {
    margin: 0;
    font-size: 36px;
    font-weight: bold;
    color: #fff;
    /* 白色字体 */
    transition: color 0.5s ease;
}

nav ul {
    list-style-type: none;
    padding: 0;
    transition: opacity 0.5s ease;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

main {
    padding: 20px;
    margin-top: 150px;
    transition: opacity 0.5s ease;
    width: 100%;
    height: 700px;
    overflow: hidden;
}

footer {
    background-color: rgba(0, 0, 0, 0.5);
    /* 半透明黑色背景 */
    padding: 10px 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    transition: background-color 0.5s ease;
}

/* 下拉菜单样式 */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a {
    color: #fff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
    color: #000;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* 社交媒体图标样式 */
.social-icons {
    margin-top: 20px;
}

.social-icon {
    color: #fff;
    font-size: 20px;
    margin: 0 5px;
    transition: color 0.5s ease;
}

.social-icon:hover {
    color: #00ffcc;
    /* 鼠标悬停时颜色变为蓝绿色 */
}

.container {
    display: flex;
    padding: 20px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.5);
    transition: transform 0.5s;
}

input {
    border: solid 5px #a071d9;
    border-radius: 20%;
    opacity: 0.3;
}